
.Account .UserName {
  font-family: 'MedievalSharp';
  font-size: xx-large;
  text-align: center;
}

.Account .AccountData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.Account .AccountData .AccountDataBox {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 5px solid var(--secondary-border-color);
  border-top: 1px solid var(--secondary-border-color);
  border-bottom: 1px solid var(--secondary-border-color);
  border-radius: 3px;
  min-width: min-content;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 5px;
}

.Account .AccountData h1 {
  font-family: 'MedievalSharp';
  font-size: xx-large;
}

.Account .AccountData h2 {
  font-family: 'MedievalSharp';
  font-size: x-large;
}

.Account .AccountData .FullSkin {
  height: 100%;
}

.Account .AccountData img:not(.FullSkin) {
  min-height: 1em;
  height: 50%;
}

.Account .AccountData img.Icon {
  height: 1em;
  border-radius: 20%;
  background-color: var(--main-bg-color);
}

.Account .Face {
  height: 1em;
}

.Account .DEFAULT {
  filter: drop-shadow(0 0 5px black);
}

.Account .VIP {
  filter: drop-shadow(0 0 5px green);
}

.Account .VIPp {
  filter: drop-shadow(0 0 5px cyan);
}

.Account .HERO {
  filter: drop-shadow(0 0 5px purple);
}

.Account .CHAMPION {
  filter: drop-shadow(0 0 5px yellow);
}
